body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jqZRqB {
  height: 100vh;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.flex {
  display: flex;
}
.x-axis {
  flex-direction: row;
}
.y-axis {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

button {
  cursor: pointer;
}

.flex-start {
  justify-content: start;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}
